.page-transition {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1; 
  transition: opacity 1s ease;
}

.page-transition span {
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  animation: fadeInOut 4s forwards;
  padding: 10px;
}
.page-transition p {
    font-size: 1rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.8);}
  50% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(1.2);}
}


.page-transition.hide {
  opacity: 0;
  pointer-events: none; 
}

button {
    position: fixed; /* để nằm cố định trên màn hình */
    bottom: 10px;    /* cách đáy 10px */
    right: 10px;     /* cách phải 10px */

    display: flex;   /* để canh chữ */
    justify-content: flex-end; /* chữ nằm cuối ngang */
    align-items: flex-end;     /* chữ nằm cuối dọc */

    width: 10ch;
    height: 10ch;
    opacity: 1;

    transition: 
        opacity 0.3s ease, 
        width 0.3s ease, 
        height 0.3s ease;
    padding: 0.5em; /* để chữ không sát viền */
    border: none;
}

button:hover {
    width: 50vw;
    height: 50vh;
    opacity: 0; /* nếu muốn mờ đi */
    
    /* giữ chữ ở dưới phải */
    justify-content: flex-end;
    align-items: flex-end;
}


