* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.navbar {
    width: 100%;
    padding: 15px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.2s ease;
}

.nav-links a:hover {
    color: #ffffff;
}