* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.navbar {
    width: 100%;
    padding: 15px 15px 15px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffffff;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -2;
}

.bg.active {
  opacity: 1;
}

.bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: background 1s ease-in-out;
}
.bg.bright::after {
  background: rgba(0, 0, 0, 0);
}

.photo-info {
  position: fixed;
  bottom: 5px;
  left: 20px; 
  color: #0f1738;
  text-align: left;
  text-shadow: 1px 1px 2px #ffffff;
  font-size: 20px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -1;
}

#descript {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
}

.photo-info.visible {
  opacity: 1;
}


.head {
  margin-right: 10px;
}

.para {
  margin-left: 10px;
  margin-top: 10px;
}


button {
    position: fixed; 
    bottom: 10px;   
    right: 10px;    

    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end;    
text-shadow: none;
    width: 50ch;
    height: 20ch;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
    transition: 
        background-color 0.5s ease, 
        width 0.5s ease, 
        height 0.5s ease,
        text-shadow 1s ease-in-out;
    padding: 10px; 
    border: none;
    
    border-radius: 0 0 15px 0;
  
}


button:hover {
    width: 30vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0);
    justify-content: flex-end;
    align-items: flex-end;
}

button:hover p {
text-shadow: 1px 1px 2px #ffffff;
}


.btn {
    position: fixed;

    /* width: 200px;
    height: 100px; */
    padding: 10px;

    /* color: rgb(0, 0, 0); */
    border: none;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    -webkit-mask-image: linear-gradient(to bottom right, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 30%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom right, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.page-transition span {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Mea Culpa', cursive;
  opacity: 0;
}

.page-transition span.fade {
  animation: fadeInOut 2s forwards;
}

.page-transition {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1; 
  transition: opacity 1s ease;
}

.page-transition span {
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  animation: fadeInOut 4s forwards;
  padding: 10px;
}
.page-transition p {
    font-size: 1rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.8);}
  50% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(1.2);}
}


.page-transition.hide {
  opacity: 0;
  pointer-events: none; 
}
