body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
}

.wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container1,
.container2 {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.container3,
.container4, 
.container5 {
    
    height: 100vh;
    scroll-snap-align: start;
    padding: 15px;
}

.left1 img,
.left2 img {
    height: 100vh;
    width: auto;
    object-fit: contain;
    display: block;
}

.right1, .right2 {
    position: relative;
    flex: 1;
    display: flex;
    padding: 40px;
    justify-content: right;
}

.right1 h1, .right2 h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
    text-align: right;
}

.rigbom-para {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: justify;
    font-size: 16px;
    padding-right: 15px;
    color: #333;
}

.rigbom-para p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.code-block {
    position: relative;
    background: #161b22;
    border: 1px solid #30363d;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}

pre {
    margin: 0;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: white;
    white-space: pre-wrap;
    word-break: break-word;
}

.container5 li { 
    padding: 3px;
}

code {
    background: #787a7c;
    padding: 3px 6px;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    color: #c9d1d9;
}

.container5 {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: left;
    gap: 20px;

    background-color: #ffffff;
    padding: 15px 0;

    transition: background-color 0.5s ease-in-out;
}

.footer-img {
    height: 40px;
    width: auto;
}

.footer:hover {
    background-color: #000000;
}

#secret {
    color: white;
    transition: color 0.5s ease-in-out;
}


.header {
    position: fixed !important;  
    top: 0;
    right: 0;
    z-index: 1 !important;   
    background: transparent;
    padding: 10px;
    width: auto;
}

.header img {
    padding: 10px;
    height: 40px;
    width: auto;
}


.page-transition {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1; 
  transition: opacity 1s ease;
}

.page-transition span {
  font-size: 2rem;
  font-weight: bold;
  font-family: Helvetica;
  animation: fadeInOut 4s forwards;
  padding: 10px;
}
.page-transition p {
    font-size: 1rem;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: scale(0.8);}
  50% { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(1.2);}
}


.page-transition.hide {
  opacity: 0;
  pointer-events: none; 
}