body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    height: 100vh;
}

.left img {
    height: 100vh;
    width: auto;
    object-fit: contain;  
    display: block;
}

.right {
    position: relative;
    flex: 1;
    display: flex;
    padding: 40px;
    align-items: right;
    justify-content: right;
}

.right h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
    text-align: right;
}

.rigbom-para {
        position: absolute;
    left: 20px;
    bottom: 20px;
    text-align:justify;
    font-size: 16px;
    padding-right: 15px;
    color: #333;
}

.rigbom-para p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}