body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'JetBrains Mono', monospace;
}

/* --- quan trọng nhất: scroll theo trang --- */
.wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container1,
.container2 {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}


/* ---------- IMG ---------- */
.left1 img,
.left2 img {
    height: 100vh;
    width: auto;
    object-fit: contain;
    display: block;
}


/* ---------- RIGHT CONTENT ---------- */
.right1, .right2 {
    position: relative;
    flex: 1;
    display: flex;
    padding: 40px;
    justify-content: right;
}

.right1 h1, .right2 h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
    text-align: right;
}

.rigbom-para {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: justify;
    font-size: 16px;
    padding-right: 15px;
    color: #333;
}

.rigbom-para p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
